<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"

    <!-- 插件的Id，安装后注册的Id为此id加js-moudle的name属性 -->
    id="me.hran.cordova.toast" version="0.0.1">
    <name>Toast</name>
    <description>Cordova Toast Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,toast</keywords>

    <!-- js文件的地址，安装后路径为：plugins/插件Id/src属性值 -->
    <js-module src="www/toast.js" name="Toast">
    <!-- 跟第三步中asserts/cordova_plugins.js中填的一样 -->
        <clobbers target="navigator.toast" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- config-file中包含的这段会原封不动的插入到config.xml文件中 -->
            <feature name="Toast">
                <param name="android-package" value="me.hran.cordova.toast.ToastPlugin"/>
            </feature>
        </config-file>
        <!-- 本地代码，有多个文件就写多个source-file，src对应本项目，target对应安装后的目录，注意分隔符别写成包格式(x.xx.xxx) -->
        <source-file src="src/android/ToastPlugin.java" target-dir="src/me/hran/cordova/toast" />
    </platform>
    <!-- 其他平台的代码 -->
</plugin>